

.mainTitle{
display: flex;

justify-content: center;
width: auto;
height: auto;

}


.mainBody{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    margin: 50px;
    padding: 50px;
    justify-content: center;
    width: auto;
    height: auto;

}

.indexBody{
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 100px;
    margin: 50px;
    padding: 50px;
    justify-content: center;
    width: auto;
    height: auto;

}

.hp1{
grid-column: 1;
grid-row: 1;
display: flex;
justify-content: center;
}

.hp2{
    grid-column: 2;
    grid-row: 1;
    display: flex;
justify-content: center;
    }

    .hp3{
        grid-column: 1;
        grid-row: 2;
        }

.hp4{
    grid-column: 2;
    grid-row: 2;
    }



    .msi1{
        grid-column: 1;
        grid-row: 1;
        }
        
        .msi2{
            grid-column: 2;
            grid-row: 1;
            }
            
            .msi3{
                grid-column: 1;
                grid-row: 2;
                }
        
        .msi4{
            grid-column: 2;
            grid-row: 2;
            }

            .alien1{
                grid-column: 1;
                grid-row: 1;
                }
                
                .alien2{
                    grid-column: 2;
                    grid-row: 1;
                    }
                    
                    .alien3{
                        grid-column: 1;
                        grid-row: 2;
                        }
                
                .alien4{
                    grid-column: 2;
                    grid-row: 2;
                    }

                    .leno1{
                        grid-column: 1;
                        grid-row: 1;
                        }
                        
                        .leno2{
                            grid-column: 2;
                            grid-row: 1;
                            }
                            
                            .leno3{
                                grid-column: 1;
                                grid-row: 2;
                                }
                        
                        .leno4{
                            grid-column: 2;
                            grid-row: 2;
                            }