*{
    border: black;
    border-style: solid ;
    border-width: 1px;
    
}
  .mainTitle{
    background-color: cadetblue;
    }
    
    



    .mainBody{
        background-color: rosybrown;
    }