.mainTitle{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.categories-button{
    justify-content: center;
    display: flex;
}

.categories-button  a:link, a:visited{
    color: black;
    text-decoration: none;
}


.hashtags-button{
    justify-content: center;
    display: flex;
}
.hashtags-button a:link, a:visited{
    color: black;
    text-decoration: none;
}


.mainBody{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    column-gap: 50px;
    row-gap: 50px;
    margin: 25px;
    padding: 25px;
    justify-content: center;
    width: auto;
    height: auto;
}

.indexBody{
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 100px;
    margin: 50px;
    padding: 50px;
    justify-content: center;
    width: auto;
    height: auto;
}

.mainComputers{
    display: flex;
    justify-content: center;
    margin: auto;
}

footer{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.review-photo{
    display: grid;
    margin: 25px;
    padding: 25px;
    justify-content: center;
}

.indexHash{
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 50px;
    margin: 25px;
    padding: 25px;
    justify-content: center;
    width: auto;
    height: auto;
}

.hashBody{
    display: flex;
    justify-content: center;
    text-align: center;
}