html{

    background-image: url(../static/Images/malachi-brooks-4qigzcWjVqc-unsplash.jpg);
}

.mainTitle{
    background-color: #6f94d8;
      border-radius: 20px;
    }
.categories-button  a:link, a:visited{
    color: black;
    font-size: 20px;
}
.categories-button {
    border-style: solid;
    border-color: black;
    font-size: 20px;
}



  .mainBody{
      background-color: #bdbbbc;
    }

  .indexBody{
      background-color: #bdbbbc;
  }

  .reviewBrand{
      background-color: #6f94d8
  }
  
  footer{
    background-color: #6f94d8;
      border-radius: 20px;
  }
.footer{
    color: #6f94d8;
}
  
  .review-text{
    background-color: #ffffff
  }
  
  .indexHash{
    background-color: #6f94d8;
      border-radius: 20px;
  
  }
  
  .hashBody{
    background-color: royalblue
  }
  .laptop-details{
    background-color: #bdbbbc;
      border-radius: 20px;
}