<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
    <title>Categories </title>


    <link rel="stylesheet" href = "./CSS/style.css">
    <link rel="stylesheet" href = "./CSS/layout.css">

</head>


<div class="indexHash">


    <div class="category-button">
        <a href="categoriesView.html" th:href="@{/category}">Categories</a>

    </div>

    <div class="hashtags-button">
        <a href="Hashtags.html" th:href="@{/Hashtags}">#Hashtags</a>

    </div>

</div>

<body>
    <div class="mainBody">

        <div class="mainComputers">
            Hp Laptops

            <img src="./Images/HPlaptop.jpg" alt="hp" width="100px" height="auto">
            <a href="Laptops.html">HP</a>

        </div>

        <div class="mainComputers">
            AlienWare Laptops
            <img src="./Images/Alien.jpg" alt="Alien Laptop "width="100px" height="auto">
            <a href="Laptops.html">AlienWare</a>
        </div>

        <div class="mainComputers">
            Msi Laptops
            <img src="./Images/MSI GF63 Thin 9RCX -615.jpg" alt="MSI" width="100px" height="auto">
            <a href="Laptops.html">MSI</a>
        </div>

        <div class="mainComputers">
            Lenovo Laptops
            <img src="./Images/Lenovo ideadpad S340.jpg" alt="Lenovo"width="100px" height="auto">
            <a href="Laptops.html">Lenovo</a>
        </div>

    </div>

    <nav>


    </nav>




</body>
<footer>

</footer>

</html>