<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Review </title>
    <link rel="stylesheet" href = "./CSS/style.css">
    <link rel="stylesheet" href = "./CSS/layout.css">
</head>


    <div class="indexHash">
        <div class="category-button">
            <a href="categoriesView.html" th:href="@{'/category'}">Categories</a>

        </div>

        <div class="hashtags-button">
            <a href="Hashtags.html" th:href="@{'/hasthtags'}">#Hashtags</a>

        </div>
    </div>

<body>
[sample text]

<div class="mainBody">
    <div class="mainComputers" th:each="review: ${laptop.reviews}" >
        <a th:href="@{'/review-page/' + ${review.id}}"
        th:text="${review.laptopName}">[Review link]</a>


    </div>
</div>
<div>

    <form action="add-review" method="POST">
        <input type="text"name="laptopName"/>
        <button type="submit">Submit</button>
    </form>
<!--<form method="POST" th:action="'/review-page' + ${review.reviewText} +'/add-review'">-->

<!--    <input name="reviewID" th:value="${review.id}" type="hidden">-->
<!--    <input type="text">-->

<!--</form>-->
</div>


</body>
</html>