<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="layout.css">
</head>


<div class="indexHash">


    <div class="categories-button">
        <a href="categoriesView.html">Categories</a>

    </div>

    <div class="hashtags-button">
        <a href="Hashtags.html">#Hashtags</a>

    </div>
</div>

<body class="mainBody">


<div class="mainComputers">

<!--    <h2 th:each="laptop: ${laptops}"><a th:text="${laptop.brand}" th:href="@{'/laptops/' + ${laptop.brand}}">Laptops</a></h2>-->

<div th:each="laptop: ${laptops}" >

    <h2 th:text="${laptop.brand}" class="selectedBrand">Brand</h2>
    <h2 th:text="${laptop.name}" class="selectedBrand">Name</h2>
    <h2 th:text="${laptop.model}" class="selectedBrand">Model</h2>
    <img src="" alt="hp" width="100px" height="auto">

</div>
<!--<div class="mainComputers">-->
<!--    <h2 th:text="${laptops.laptopBrand}" class="selectedBrand">Brand</h2>-->
<!--    <h2 th:text="${laptops.laptopName}" class="selectedBrand">Name</h2>-->
<!--    <h2 th:text="${laptops.laptopModel}" class="selectedBrand">Model</h2>-->
<!--    <img src="" alt="hp" width="100px" height="auto">-->

<!--</div>-->


</div>
</body>



</html>
