<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Laptops</title>
    <link rel="stylesheet" href = "../CSS/style.css">
    <link rel="stylesheet" href = "../CSS/layout.css">
</head>

<body>
<div class="indexHash">
    <div class="category-button">
        <a href="categoriesView.html" th:href="@{'/category'}">Categories</a>
    </div>


</div>




    <div class="mainBody">
        <div class="mainComputers" th:each="laptop: ${category.laptops}" >
            <h2 th:text="${category.brand}">Brand</h2>
            <h2 th:text="${laptop.name}">Name</h2>
            <h2 th:text="${laptop.model}">Model</h2>
            <a  th:href="@{'/laptops/' + ${laptop.name}}" th:text="${laptop.name}"></a>
        </div>
    </div>

    <footer>
        <div class="description-footer"><p>Here is a list of laptops. Enjoy!</p></div>
        </footer>



</body>
</html>
