<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Review </title>
    <link rel="stylesheet" href = "../CSS/style.css">
    <link rel="stylesheet" href = "../CSS/layout.css">
</head>

<body>
    <div class="indexHash">
        <div class="category-button">
            <a href="categoriesView.html" th:href="@{'/category'}">Categories</a>
        </div>
    </div>


    <div class="mainBody">
        <div class="mainComputers" th:each="review: ${laptop.reviews}" >
            <a th:href="@{'/review-page/' + ${review.id}}"
            th:text="${review.laptopName}">[Review link]</a>
        </div>
    </div>



</body>

    <footer>
        <form th:action="'/'+${laptop.id}+'/add-review'" method="POST">
            <input type="text"name="reviewText">
            <button type="submit">Submit your review!</button>
        </form>
    </footer>


</html>