<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Review </title>
    <link rel="stylesheet" href = "./CSS/style.css">
    <link rel="stylesheet" href = "./CSS/layout.css">
</head>

    <div class="indexHash">
        <div class="category-button">
            <a href="categoriesView.html" th:href="@{'/category'}">Categories</a>
        </div>
        <div class="hashtags-button">
            <a href="Hashtags.html" th:href="@{'/hasthtags'}">#Hashtags</a>
        </div>

    </div>


<body>
    <p th:text="${review.laptopName}" class="laptop-details__name">2345GNTW</p>
    <div>
    <p th:text="${review.reviewText}" class="laptop-details__review"> this is a review of a MSI laptop</p>
    </div>


</body>

<footer>

</footer>


</html>