*{
    border: black;
    border-style: solid ;
    border-width: 1px;
    
}
  .mainTitle{
    background-color: cadetblue;
    }
    

  .mainBody{
        background-color: rosybrown;
    }

  .reviewBrand{
      background-color: honeydew;
  }
  
  footer{
    background-color: greenyellow
      
  }
  
  .review-text{
    background-color: fuchsia
  }
  
  .indexHash{
    background-color: rebeccapurple
  
  }
  
  .hashBody{
    background-color: royalblue
  }